body{
    background-color: darkcyan;
}
.container{
    display: flex;
    flex: 1;
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 50vh;
}
.three-buttons{
    border: white 2px solid;
    height: 35vh;
    width: 12vw;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
}
.three-buttons >p{
    color: white;
    font-size: 100px;
    text-align: center;
}

.results{
    background-color: coral;
    gap: 40px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    margin: 0px 250px;
    border-radius: 20px;
    height: fit-content;
    width: fit-content;
  
}

.verti{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.whochose > p{
    text-align: center;
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}